#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

body {
  background-color: #F7A072;
  color: #005F7F;
  font-family: serif;
}

.container h1 {
  text-align: center;
  margin: 5%;
  font-size: 40pt;
  letter-spacing: 5pt;
}
